body {
    margin: 0;
    padding: 0;
}

.logo img {
    height: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border: 1px solid #333;
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-item .navbar-link{
    text-decoration: none;
}